networks:
  default:
    name: webos
    driver: bridge
    ipam:
      config:
        - subnet: 10.10.0.0/24

services:
  webos:
    image: moonpath/webos:ubuntu-24.04
    container_name: webos
    hostname: webos
    shm_size: 2g
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: Dockerfile.webos
      args:
        BASE_IMAGE: "ubuntu:24.04"
    environment:
      NOVNC_PORT: ${NOVNC_PORT:-7900}
      NOVNC_USER: ${NOVNC_USER:-user}
      NOVNC_PASSWORD: ${NOVNC_PASSWORD:-password}
      NOVNC_AUTH: ${NOVNC_AUTH:-false}
      LC_ALL: ${LANG:-C.UTF-8}
      LANG: ${LANG:-C.UTF-8}
      TZ: ${TZ:-Etc/UTC}
    ports:
      - "7900:7900/tcp"
    extra_hosts:
      - host.docker.internal:host-gateway
