version: '3'

volumes:
  devos:
    name: devos
    driver: local
  devos-gpu:
    name: devos-gpu
    driver: local
  webos:
    name: webos
    driver: local
  webos-gpu:
    name: webos-gpu
    driver: local

services:
  devos:
    image: moonpath/devos:latest
    container_name: devos
    hostname: linux
    shm_size: 8g
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: dockerfile-devos
    ports:
      - "2222:22/tcp"
    volumes:
      - type: volume
        source: devos
        target: /home/admin
        volume:
          nocopy: true 

  devos-gpu:
    image: moonpath/devos-gpu:latest
    container_name: devos-gpu
    hostname: linux
    shm_size: 8g
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: dockerfile-devos-gpu
    ports:
      - "2222:22/tcp"
    volumes:
      - type: volume
        source: devos-gpu
        target: /home/admin
        volume:
          nocopy: true 
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]

  webos:
    image: moonpath/webos:latest
    container_name: webos
    hostname: linux
    shm_size: 8g
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: dockerfile-webos
    environment:
      VNC_PORT: "7900"
      VNC_USER: "admin"
      VNC_PASSWD: "123456"
    ports:
      - "7900:7900/tcp"
    volumes:
      - type: volume
        source: webos
        target: /home/admin
        volume:
          nocopy: true 

  webos-gpu:
    image: moonpath/webos-gpu:latest
    container_name: webos-gpu
    hostname: linux
    shm_size: 8g
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: dockerfile-webos-gpu
    environment:
      VNC_PORT: "7900"
      VNC_USER: "admin"
      VNC_PASSWD: "123456"
    ports:
      - "7900:7900/tcp"
    volumes:
      - type: volume
        source: webos-gpu
        target: /home/admin
        volume:
          nocopy: true 
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
