networks:
  default:
    name: dockeros
    driver: bridge
    driver_opts:
      com.docker.network.bridge.name: br-dockeros
    ipam:
      config:
        - subnet: 10.10.0.0/24

services:
  webos:
    image: moonpath/webos:latest
    container_name: webos
    hostname: webos
    shm_size: 2g
    privileged: true
    restart: unless-stopped
    init: true
    stdin_open: true
    build:
      context: .
      dockerfile: Dockerfile.webos
      args:
        BASE_IMAGE: ubuntu:latest
      tags:
        - moonpath/webos:latest
    environment:
      NOVNC_PORT: ${NOVNC_PORT:-7900}
      NOVNC_USER: ${NOVNC_USER:-user}
      NOVNC_PASSWORD: ${NOVNC_PASSWORD:-password}
      NOVNC_AUTH: ${NOVNC_AUTH:-false}
      NOVNC_SUBFOLDER: ${NOVNC_SUBFOLDER:-/}
      LC_ALL: ${LANG:-C.UTF-8}
      LANG: ${LANG:-C.UTF-8}
      TZ: ${TZ:-Etc/UTC}
    ports:
      - "7900:7900/tcp"
    extra_hosts:
      - host.docker.internal:host-gateway

  devos:
    image: moonpath/devos:latest
    container_name: devos
    hostname: devos
    shm_size: 1g
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    build:
      context: .
      dockerfile: Dockerfile.devos
      args:
        BASE_IMAGE: ubuntu:latest
      tags:
        - moonpath/devos:latest
    environment:
      LC_ALL: ${LANG:-C.UTF-8}
      LANG: ${LANG:-C.UTF-8}
      TZ: ${TZ:-Etc/UTC}
    ports:
      - "2222:22/tcp"  
    extra_hosts:
      - host.docker.internal:host-gateway
